[Desktop Entry]
Type=Application
Name=Gravastar
GenericName=Arcade Shoot-em-up
Comment=Pick a ship and blow the other ships to smithereens
Icon=delta
Exec=Gravastar
Terminal=false
Categories=Game;
