[Desktop Entry]
Type=Application
Name=gravastar
GenericName=Arcade Shoot-em-up
Comment=Pick a ship and blow the other ships to smithereens
Icon=delta
Exec=gravastar
Terminal=false
Categories=Game;
